src/main/resources/calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.uchenna.com/spring/soap/api/calculator"
	xmlns:tns="http://www.uchenna.com/spring/soap/api/calculator"
	elementFormDefault="qualified">

	<xsd:element name="CustomerRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="number1" type="xsd:int"/>
				<xsd:element name="number2" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>